.main-pane {
  -fx-border-width: 0 2 0 2;
  -fx-border-color: #BBBBBB;
}

.border-pane {
  -fx-background-color: #F5F5F5;
}

.center {
  -fx-padding: 3em;
}

.right {
  -fx-background-color: #F5F5F5;
  -fx-pref-width: 250;
  -fx-padding: 3em;
}

.bottom {
  -fx-background-color: #F5F5F5;
  -fx-padding: 1em 1em 4em 3em;
  -fx-spacing: 10;
}

.scroll-pane {
  -fx-border-width: 0 2 0 2;
  -fx-border-color: #BBBBBB;
}

.v-boxes {
  -fx-background-color: #F5F5F5;
}

.titles {
  -fx-font-size: 24px;
  -fx-font-weight: bold;
  -fx-padding: 0.5em 3em 0em 3em;
}

.scroll-bar:horizontal {
  -fx-border-width: 0 0 0 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: #6699CC;
  -fx-background-radius: 0;
}

.button {
  -fx-background-color: #336699;
  -fx-effect: dropShadow(gaussian, rgba(0, 0, 0, 0.2), 0, 0, 2, 2);
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-pref-width: 180;
  -fx-pref-height: 40;
  -fx-background-radius: 0;
}

.button:hover {
  -fx-background-color: #66CCFF;
}

.choice-box {
  -fx-background-color: white;
  -fx-background-radius: 1;
  -fx-mark-color: #336699;
  -fx-border-width: 1 1 1 1;
  -fx-border-color: #BBBBBB;
  -fx-pref-width: 180;
  -fx-pref-height: 30;
}

.choice-box .context-menu {
  -fx-pref-width: 180;
  -fx-pref-height: 200;
}

.table-view {
  -fx-background-color: #F5F5F5;
  -fx-background-insets: 0, 0 0 0 0;
  -fx-border-width: 0 0 0 0;
}

.table-view .column-header {
  -fx-background-color: #6699CC;
  -fx-border-width: 0 1 0 1;
  -fx-border-color: #555555;
}

.table-view .column-header:hover {
  -fx-background-color: #66CCFF;
}

.table-view .column-header-background .label {
  -fx-text-fill: white;
}

.table-row-cell:odd {
  -fx-background-color: #D8EEFF;
}

.table-row-cell:even {
  -fx-background-color: #A4CFF2;
}

.table-view .column-header-background .first-col {
  -fx-border-width: 0 1 0 0;
}

.table-view .column-header-background .last-col {
  -fx-border-width: 0 0 0 1;
}

.table-row-cell:selected {
  -fx-background-color: white;
}

.table-row-cell:selected .text {
  -fx-fill: black;
}

.titled-pane > .content {
  -fx-text-fill: white;
  -fx-background-color: #BBBBBB;
}

.titled-pane {
  -fx-text-fill: black;
}

.titled-pane > .title {
  -fx-background-color: #BBBBBB;
  -fx-border-width: 0 0 2 0;
  -fx-background-insets: 0 0 0 0;
  -fx-border-color: #555555;
  -fx-padding: 10px;
  -fx-text-fill: white;
}

.titled-pane > .title:hover {
  -fx-background-color: #66CCFF;
}

.titled-pane > .title:selected {
  -fx-background-color: #66CCFF;
}

.titled-pane > .title > .arrow-button {
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-padding: 0em 0.25em 0em 0em;
  /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow {
  -fx-background-color: white;
  -fx-mark-highlight-color: white;
  -fx-mark-color: white;
  -fx-background-insets: 0;
  -fx-padding: 0.25em 0.3125em 0.25em 0.3125em;
  /* 3 3.75 3 3.75 */
  -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow {
  -fx-rotate: -90;
}

.titled-pane > *.content {
  -fx-padding: 0.167em;
}

.titled-pane:focused > .title > .arrow-button .arrow {
  -fx-background-color: white;
}

/*# sourceMappingURL=adminStyle.css.map */
