$l-blue: #6699CC;
$d-blue: #336699;
$d-grey: #878787;
$b-blue: #66CCFF;
$l-grey: #CCCCCC;

//#toolbar {
//    -fx-padding: 10.0;
//    -fx-border-width: 0.0 0.0 0.5 0.0;
//    -fx-border-color: grey;
//    -fx-background-color: $l-blue;
//}

//.menu-bar {
//    -fx-background-color: $d-blue;
//    -fx-text-fill: white;
//}

//.separator {
//    -fx-background-color: $d-blue;
//    -fx-text-fill: white;
//}

//#search-field {
//    -fx-background-radius: 100.0px;
//    -fx-pref-width: 200.0px;
//}

// BUTTONS
//.button {
//    -fx-background-color: $d-blue !important;
//    -fx-text-fill: white;
//}
//.button:hover {
//    -fx-background-color: $l-blue !important;
//}
//.button-bar > .container > .button {
//    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0 !important;
//}
//.button-bar > .container > .button:hover {
//    -fx-background-insets: -2 -2 -2 0, 0, 1 1 1 0, 2 2 2 1 !important;
//}
//.button-bar > .container > .button:focused {
//    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0 !important;
//}

//.button-bar > .container > .button {
//    -fx-background-color: $d-blue !important;
//}

//.button-bar > .container > .button:hover {
//    -fx-background-color: $b-blue !important;
//}

//.day-page > .container > .content > .left-side > .header {
//    -fx-background-color: $l-blue !important;
//}