.primary-pane {
  -fx-background-color: #336699;
}

.secondary-pane {
  -fx-background-color: #6699CC;
}

.background-pane {
  -fx-background-color: #555555;
}

.header-pane {
  -fx-background-color: #336699;
  -fx-border-width: 0 0 3 0;
  -fx-border-color: linear-gradient(to bottom, #1a334d, #555555);
}

.side-pane {
  -fx-background-color: #2b2b2b;
}

.empty-side-pane {
  -fx-background-color: #555555;
}

.filter-vbox {
  -fx-background-color: #6699CC;
  -fx-padding: 10;
}

.button {
  -fx-background-color: #336699;
  -fx-effect: dropShadow(gaussian, rgba(0, 0, 0, 0.2), 0, 0, 2, 2);
  -fx-font-weight: bold;
  -fx-text-fill: white;
}

.button:hover {
  -fx-background-color: #66CCFF;
}

.hamburger-pane {
  -fx-background-color: #2b2b2b;
}

.menu-title {
  -fx-font: 11pt "Candara Light";
  -fx-text-color: #BBBBBB;
  -fx-padding: 0 0 8 10;
}

.menu-button {
  -fx-font: 14pt "Candara Light";
  -fx-text-color: #F5F5F5;
  -fx-padding: 0 0 0 20;
  -fx-alignment: left;
  -fx-background-color: #2b2b2b;
  -fx-effect: dropShadow(gaussian, rgba(0, 0, 0, 0), 0, 0, 0, 0);
  -fx-background-radius: 0;
  -fx-background-insets: 0, 0 0 0 0;
}

.menu-button-splitter {
  -fx-fill: #555555;
}

.hamburger-button {
  -fx-background-color: #336699;
  -fx-background-radius: 0;
}

.hamburger-button:hover {
  -fx-background-color: #66CCFF;
}

.search-button {
  -fx-background-color: #336699;
  -fx-background-radius: 0;
  -fx-effect: dropShadow(gaussian, rgba(0, 0, 0, 0), 0, 0, 0, 0);
}

.restaurant-menu {
  -fx-background-color: #F5F5F5;
  -fx-background-insets: 0, 0 0 0 0;
  -fx-border-width: 1 1 1 1;
  -fx-border-color: #555555;
}

.restaurant-menu .column-header {
  -fx-text-fill: black;
  -fx-background-color: #BBBBBB;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: #555555;
  -fx-padding: 10;
}

.restaurant-menu .column-header-background .label {
  -fx-text-fill: black;
}

.restaurant-menu-row-cell {
  -fx-padding: 3;
  -fx-background-color: #F5F5F5;
}

.price-col {
  -fx-alignment: center-right;
}

.price-col .label {
  -fx-alignment: center-right;
  -fx-padding: 5;
}

.table-view {
  -fx-background-color: #F5F5F5;
  -fx-background-insets: 0, 0 0 0 0;
  -fx-border-width: 1 1 1 1;
  -fx-border-color: #555555;
}

.table-view .column-header {
  -fx-background-color: #6699CC;
  -fx-border-width: 0 1 0 1;
  -fx-border-color: #336699;
}

.table-view .column-header:hover {
  -fx-background-color: #66CCFF;
}

.table-view .column-header-background .label {
  -fx-text-fill: white;
}

.table-row-cell:odd {
  -fx-background-color: #D8EEFF;
}

.table-row-cell:even {
  -fx-background-color: #A4CFF2;
}

.table-view .column-header-background .first-col {
  -fx-border-width: 0 1 0 0;
}

.table-view .column-header-background .last-col {
  -fx-border-width: 0 0 0 1;
}

.titled-pane > .content {
  -fx-text-fill: white;
  -fx-background-color: #F5F5F5;
}

.titled-pane {
  -fx-text-fill: black;
}

.titled-pane > .title {
  -fx-background-color: #BBBBBB;
  -fx-border-width: 0 0 2 0;
  -fx-background-insets: 0 0 0 0;
  -fx-border-color: #555555;
  -fx-padding: 10px;
  -fx-text-fill: white;
}

.titled-pane > .title:hover {
  -fx-background-color: #66CCFF;
}

.titled-pane > .title:selected {
  -fx-background-color: #66CCFF;
}

/*# sourceMappingURL=mainstyle.css.map */
