.primary-pane {
  -fx-background-color: #336699;
}

.secondary-pane {
  -fx-background-color: #6699CC;
}

.header-pane {
  -fx-background-color: #336699;
}

.empty-side-pane {
  -fx-background-color: #555555;
}

.filter-box {
  -fx-background-color: #6699CC;
  -fx-padding: 10;
}

.button {
  -fx-background-color: #336699;
  -fx-effect: dropShadow(gaussian, rgba(0, 0, 0, 0.2), 0, 0, 2, 2);
  -fx-font-weight: bold;
  -fx-text-fill: white;
}

.button:hover {
  -fx-background-color: #66CCFF;
}

.menu-button {
  -fx-background-color: #6699CC;
  -fx-effect: dropShadow(gaussian, rgba(0, 0, 0, 0), 0, 0, 0, 0);
  -fx-background-radius: 0;
  -fx-border-width: 2 0 0 0;
  -fx-border-color: #BBBBBB;
}

.hamburger-button {
  -fx-background-color: #336699;
  -fx-background-radius: 0;
}

.hamburger-button:hover {
  -fx-background-color: #66CCFF;
}

/*
// ADMIN
.admin-main-pane {
    -fx-border-width: 0 2 0 2;
    -fx-border-color: $l-grey;
    -fx-background-color: $el-grey;
}

.scroll-pane-admin {
    -fx-border-width: 0 2 0 2;
    -fx-border-color: $l-grey;
    -fx-background-color: $el-grey;
}

.admin-center {
    -fx-padding: 3.0em;
}

.admin-right {
    -fx-background-color: $l-grey;
    -fx-pref-width: 250;
    -fx-padding: 3.0em;
}

.admin-bottom {
    -fx-background-color: $l-grey;
    -fx-padding: 1.0em 1.0em 4.0em 3.0em;
    -fx-spacing: 10;
}

.admin-border-pane {
    -fx-background-color: $l-grey;
}

.admin-pane-button {
    -fx-pref-width: 180;
    -fx-pref-height: 40;
    -fx-background-radius: 0;
}
*/
.restaurant-menu {
  -fx-background-color: #EEEEEE;
  -fx-background-insets: 0, 0 0 0 0;
  -fx-border-width: 1 1 1 1;
  -fx-border-color: #555555;
}

.restaurant-menu .column-header {
  -fx-text-fill: black;
  -fx-background-color: #BBBBBB;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: #555555;
  -fx-padding: 10;
}

.restaurant-menu .column-header-background .label {
  -fx-text-fill: black;
}

.restaurant-menu-row-cell {
  -fx-padding: 3;
  -fx-background-color: #EEEEEE;
}

.price-col {
  -fx-alignment: center-right;
}

.price-col .label {
  -fx-alignment: center-right;
  -fx-padding: 5;
}

.table-view {
  -fx-background-color: #EEEEEE;
  -fx-background-insets: 0, 0 0 0 0;
  -fx-padding: 3em 0em 0em 3em;
  -fx-border-width: 0 0 0 0;
}

.table-view .column-header {
  -fx-background-color: #BBBBBB;
  -fx-border-width: 0 1 0 1;
  -fx-border-color: #555555;
}

.table-view .column-header:hover {
  -fx-background-color: #66CCFF;
}

.table-view .column-header-background .label {
  -fx-text-fill: white;
}

.table-row-cell:odd {
  -fx-background-color: #D8EEFF;
}

.table-row-cell:even {
  -fx-background-color: #A4CFF2;
}

.table-view .column-header-background .first-col {
  -fx-border-width: 0 1 0 0;
}

.table-view .column-header-background .last-col {
  -fx-border-width: 0 0 0 1;
}

.titled-pane > .content {
  -fx-text-fill: white;
  -fx-background-color: #EEEEEE;
}

.titled-pane {
  -fx-text-fill: black;
}

.titled-pane > .title {
  -fx-background-color: #BBBBBB;
  -fx-border-width: 0 0 2 0;
  -fx-background-insets: 0 0 0 0;
  -fx-border-color: #555555;
  -fx-padding: 10px;
  -fx-text-fill: white;
}

.titled-pane > .title:hover {
  -fx-background-color: #66CCFF;
}

.titled-pane > .title:selected {
  -fx-background-color: #66CCFF;
}

/*# sourceMappingURL=mainstyle.css.map */
