$l-blue: #6699CC;
$el-blue: #A4CFF2;
$eel-blue: #D8EEFF;
$d-blue: #336699;
$td-blue: #4F88C1;
$d-grey: #878787;
$b-blue: #66CCFF;
$d-grey: #555555;
$l-grey: #BBBBBB;
$el-grey: #F5F5F5;

// Panes and Faces
.primary-pane {
    -fx-background-color: $d-blue;
}

.secondary-pane {
    -fx-background-color: $l-blue;
}

.background-pane {
    -fx-background-color: $d-grey;
}

.header-pane {
    -fx-background-color: $d-blue;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: linear-gradient(to bottom, mix($d-blue, black), $d-grey);
}

.side-pane {
    -fx-background-color: mix($d-grey, black);
}

.empty-side-pane {
    -fx-background-color: $d-grey;
}

.filter-vbox {
    -fx-background-color: $l-blue;
    -fx-padding: 10;
}

.label {
    -fx-font: 11pt "Candara";
    -fx-text-fill: $el-grey;
}

.friends-list {
    -fx-background-insets: 0 0 0 0;
    -fx-border-width: 2 0 2 20;
    -fx-border-color: mix($l-grey, $d-grey) black mix($l-grey, $d-grey) $l-blue;
    -fx-padding: 5 5 5 10;
    -fx-text-fill: $d-grey;
    -fx-text-weight: bold;
    -fx-font: 11pt "Candara";
}

// Buttons
.button {
    -fx-background-color: $d-blue;
    -fx-effect: dropShadow(gaussian, rgba(0,0,0,0.2), 0, 0, 2, 2);
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: $b-blue;
}

.hamburger-pane {
    -fx-background-color: mix($d-grey, black);
}

.menu-title {
    -fx-font: 11pt "Candara";
    -fx-text-color: $l-grey;
    -fx-padding: 0 0 8 10;
}

.menu-button {
    -fx-font: 14pt "Candara";
    -fx-text-color: $el-grey;
    -fx-padding: 0 0 0 20;
    -fx-alignment: left;
    -fx-background-color: mix($d-grey, black);
    -fx-effect: dropShadow(gaussian, rgba(0,0,0,0), 0, 0, 0, 0);
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0 0 0 0;
}

.menu-button:hover {
    -fx-background-color: $l-blue;
}

.menu-button:focused {
    -fx-background-color: $l-blue;
}

.menu-button-splitter {
    -fx-fill: $d-grey;
}

.hamburger-button {
    -fx-background-color: $d-blue;
    -fx-background-radius: 0;
}

.hamburger-button:hover {
    -fx-background-color: $b-blue;
}

.search-button {
    -fx-background-color: $d-blue;
    -fx-background-radius: 0;
    -fx-effect: dropShadow(gaussian, rgba(0,0,0,0), 0, 0, 0, 0);
}

.restaurant-menu-button {
    -fx-background-color: $l-grey;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0;
    -fx-font: 12pt "Candara";
    -fx-alignment: center;
    -fx-padding: 4 10 4 10;
}

.restaurant-menu-button:hover {
    -fx-background-color: white;
}

.restaurant-split-pane {
    -fx-background-color: $l-grey;
}

.text-field {
    -fx-font: 11pt "Candara";
    -fx-background-radius: 0;
}

.text-field-table-cell {
    -fx-text-fill: black;
    -fx-font: 11pt "Candara";
}

.text-field-table-cell:selected {
    -fx-text-fill: black;
}

.restaurant-menu {
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-border-width: 0 0 0 0;
    -fx-text-fill: black;
    -fx-font: 11pt "Candara";

}

.restaurant-menu > .label {
    -fx-text-fill: black;
}

.restaurant-menu .column-header {
    -fx-background-color: $l-blue;
    -fx-background-insets: 0 0 0 0;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: black black mix($l-grey, $d-grey) black;
    -fx-padding: 10 10 10 20;
    -fx-text-fill: $el-grey;
    -fx-text-weight: bold;
    -fx-font: 14pt "Candara";
}

.restaurant-menu .column-header-background .label {
    -fx-text-fill: $el-grey;
    -fx-text-weight: bold;
}

.restaurant-menu-row {
    -fx-background-color: transparent;
    -fx-text-fill: $el-grey !important;
    -fx-font: 12pt "Candara";
    -fx-border-width: 0 0 1 0;
    -fx-border-color: $l-grey;
    -fx-cell-size: 35px;
}

.restaurant-menu-row:selected {
    -fx-background-color: $l-grey;
}

.restaurant-menu-row:selected .text-label{
    -fx-background-color: $l-grey;
    -fx-text-fill: black;
}

.price-col {
    -fx-alignment: center-right;
}

.price-col .label {
    -fx-alignment: center-right;
    -fx-padding: 5;
}

//The table inside the titled panes in admin scene

.table-view {
    -fx-text-fill: $el-grey;
    -fx-background-color: $el-grey;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: $l-grey;
}

.table-view .column-header {
    -fx-background-color: $l-blue;
    -fx-border-width: 0 1 0 1;
    -fx-border-color: $d-blue;
}

.table-view .column-header:hover {
    -fx-background-color: $b-blue;
}

.table-view .column-header-background .label {
    -fx-text-fill: white;
}

.table-view .column-header-background .first-col {
    -fx-border-width: 0 1 0 0;
}

.table-view .column-header-background .last-col {
    -fx-border-width: 0 0 0 1;
}

.table-row-cell {
    -fx-text-fill: $el-grey;
}

.table-row-cell:selected {
    -fx-text-fill: black;
}

// The titled panes inside the admin
.titled-pane {
    -fx-padding: 10;
    -fx-text-fill: $el-grey;
}

.titled-pane > .content {
    -fx-background-color: mix($l-grey, $d-grey);
    -fx-border-width: 0 0 0 0;
}

.titled-pane > .content > .label {
    -fx-text-fill: black;
}

.titled-pane > .title {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-border-width: 0 0 2 20;
    -fx-border-color: black black mix($l-grey, $d-grey) $l-blue;
    -fx-padding: 10 10 10 20;
    -fx-text-fill: $el-grey;
    -fx-text-weight: bold;
    -fx-font: 14pt "Candara";
}

.titled-pane > .title:hover {
    -fx-background-color: $b-blue;
    -fx-border-color: black black $b-blue $b-blue;
}

.titled-pane:focused > .title {
    -fx-background-color: $b-blue;
    -fx-border-color: black black $b-blue $b-blue;
}

.titled-pane > .title > .arrow-button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-effect: null;
    -fx-background-color: $el-grey;
    -fx-mark-highlight-color: transparent;
    -fx-mark-color: $el-grey;
    -fx-background-insets: 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow {
    -fx-rotate: -90;
}

.titled-pane:focused > .title > .arrow-button .arrow{
    -fx-effect: null;
    -fx-background-color: $el-grey;
}

//Admin
// Panes
.admin-main-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.admin-border-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.center {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-padding: 3.0em;
}

.right {
    -fx-background-color: transparent;
    -fx-pref-width: 250;
    -fx-padding: 3.0em;
}

.bottom {
    -fx-background-color: transparent;
    -fx-padding: 1.0em 1.0em 4.0em 3.0em;
    -fx-spacing: 10;
}

.admin-scroll-pane {
    -fx-background-color: $el-grey;
    -fx-border-width: 0 0 0 0;
}

.admin-scroll-pane > .viewport {
    -fx-background-color: $el-grey;
    -fx-border-width: 0 0 0 0;
}

.admin-v-boxes {
    -fx-background-color: transparent;
}

.admin-titles {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-color: white;
    -fx-padding: 0.5em 3em 0em 3em;
}