$l-blue: #6699CC;
$d-blue: #336699;
$d-grey: #878787;
$b-blue: #66CCFF;
$l-grey: #CCCCCC;

.primary-pane {
    -fx-background-color: $d-blue;
}

.secondary-pane {
    -fx-background-color: $l-blue;
}

.button {
    -fx-background-color: $d-blue;
    -fx-effect: dropShadow(gaussian, rgba(0,0,0,0.2), 0, 0, 2, 2);
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: $b-blue;
}
